header {
  color: black;
  background-color: #3f322f;
}
body {
  background-color: #f0e9e6;
  margin: 0;
  padding: 0;
}
main {
  padding: 10px;
  margin-bottom: 100px;
}
h1 {
  color: #ffc425;
  font-family: cursive;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  color: #ffc425;
  padding: 15px;
}
a:hover {
  cursor: pointer;
  background-color: #2f2523;
}
table {
  border-collapse: collapse;
  background-color: #c2a599;
  padding: 40px;
  /* margin-left: auto; */
  margin-right: auto;
  /* border-radius: 5px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
th,
td {
  padding: 10px;
  text-align: left;
}
footer {
  background-color: #3f322f;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffc425;
  padding: 20px;
  text-align: center;
}
.titleBtn {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addButton {
  background-color: #ffc425;
  color: #3f322f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  padding: 10px 30px;
  margin: 5px;
}
.addButton:hover {
  transform: scale(1.1);
}
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 25px;
  background: #f1f1f1;
}
input {
  padding: 5px;
}
.navCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.filterForm {
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #c2a599;
  padding: 0;
  border-bottom: 1px solid black;
}
.filterBtn {
  padding: 5px;
}
